$widthMaxContent: 1280px;
$widthMinContent: 420px;
$pageTextSize: 16px;

$headerHeight: 80px;
$headerPaddingLR: 10px;

$windowHeight: 300px;
$windowPaddingLR: 20px;

$bodyPaddingLR: 10px;
$bodyTextColor: darkslategrey;

$titleTextColor: darkslategrey;
$linkTextColor: darkslategrey;

$footerHeight: 220px;