$widthMaxContent: 1280px;

$pageFontSize: 16px;

$headerHeight: 80px;
$headerPaddingLR: 10px;

$windowHeight: 300px;
$windowPaddingLR: 20px;

$bodyPaddingLR: 10px;
$bodyColorText: darkslategrey;

$footerHeight: 200px;